
body{
	text-align: center;
	background:url('../img/sunsetbackground.jpg') center no-repeat;
	background-size:cover;
}

h1{
	letter-spacing: 3px
}
ul{
	list-style-type: none;
}
.one{
	color:#6A0F49;
	font-weight: bold;
}
span{
	color:#4A001F;
	font-family: Garamond;
	font-weight: bold;
	font-size: 19px;
}