body{
	background-color: black;
}

.image,
p{
	text-align: center;
}

/*header*/

header{
	padding-top: 150px;
}


h1,
h3{
	color:white;
}

h1{
	font-family: 'Rock Salt', cursive;
	font-size:9em;
}

h3{
	font-family: 'Oranienbaum', serif;
	margin-top:35px;
}

h4{
	font-family: 'Volkhov', serif;

}

h5{
	font-size:1em;
	font-family:'Cabin', sans-serif;
}

.button{
	padding-top:20px;
}

span.intro{
	color:#64EAFB;
}

/*.landing{
	width:50%;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 20px;
}
*/

/*portfolio section*/

.row{
	padding-top:20px;
}

.no-padding{
	padding-top:0;
}

h2{
	color:white;
	font-size:1.3em;
	font-family: 'Oranienbaum', serif;
}

.portfolio-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size:1.5em;
	padding-right: .3em;
	padding-bottom:.2em;
	font-family: 'Arimo', sans-serif;
	color:white;
}

.fade-in {
	opacity: 0;
}

.fade-out {
	opacity: .6;
}

.portfolio-text.fade-out{
	opacity:1;
	font-size: 7em;
	color:white;
	font-family:'Fjalla One', sans-serif;
}

.center{
	text-align: center;
}

#portfolio a:hover /*a:focus*/ .fade-in {
	opacity: 1;
	transition: .45s;
}

.portfolio-hover .fade-in{
	opacity: 1;
	transition: .45s;	
}

#portfolio a:hover /*a:focus*/ .fade-out {
	opacity: 0;
	transition: .45s;
}

.portfolio-hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#portfolio span.no-link-hover:hover /*span.spantest:focus*/ .fade-in {
	opacity: 1;
	transition: .45s;
}

#portfolio span.no-link-hover:hover /*span.spantest:focus*/ .fade-out {
	opacity: 0;
	transition: .45s;
}

#about a:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#about a:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#about span.no-link-hover:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#about span.no-link-hover:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

.projects{
	padding:0 40px;
	color:gray;
}

span.description{
	font-weight:bold;
	color:white;
	font-style:italic;
}

.soon{
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	width: 100%;
	font-size:1.2em;
	padding-right: .5em;
	font-family: 'Arimo', sans-serif;
	color:white;
	font-style: italic;
}

.hidden{
	display:none;
}

/*#about a:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#about a:hover .fade-out{
	opacity: 1;
	transition: .45s;
}*/

/*span{
	font-family:'Volkhov', sans-serif;
	color:gray;
}
*/


/*about me boxes section*/

.bio-one{
	top:20%;
	font-size: .9em;
}


.bio-two{
	top:45%;
	font-size:.9em;
}

.bio-three{
	top:70%;
	font-size: .9em;
}

.bio-four{
	top:45%;
}

.skills-one{
	top:30%;
	font-size:1em;
}

.skills-two{
	top:60%;
	font-size:1em;
}

/*.pic{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size:1.5em;
	padding-right: .3em;
	font-family: 'Arimo', sans-serif;
	color:white;
}*/


/*columns section*/

.about{
	background-color: black;
}

.about p{
	font-family: 'Cabin', sans-serif;
	padding-left:30px;
	padding-right:30px;
	color:#646262;
}

/*.pig{
	max-height: 399px;
}*/

/*.space{
	padding-top:20px;
	padding-bottom:20px;
}

.resume{
	font-weight: 700;
	font-style: italic;
}*/
/*
.photo{
	padding:0;
}

.bio p{
	padding: 20px;
	font-size: 1.1em;
}

.headshot{
	height:470px;
	width:100%;
	background-size:cover;
	background: url('../img/colorheadshot.jpg') no-repeat center;
	background-attachment: fixed; 
}
*/
/*
#subheads{
	padding:20px;
	font-family: 'Volkhov', serif;
	font-weight:700;
	font-size:1.5em;
	color:#424141;
}
*/

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-inline{
	padding-bottom:10px;
}

.list-inline a{
	color:rgba(132, 241, 255, 0.99);
}

/*footer*/

hr{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:auto;
	margin-right: auto;
	border-style:inset;
	border-width: 1px;
	width:85%;
	border-color:#C565C5;
}

h4{
	font-size:1em;
	font-family:'Arimo', sans-serif;
	color:#656363;
/*	font-weight: 700;*/
}

footer{
	background-color: black;
}

p{
	padding:0;
}



/*media queries*/

@media (max-width: 500px){
	.text-vertical-center h1{
		font-size:2.5em;
	}
	.portfolio-text.fade-out{
		font-size:5em;
	}
}

/*@media (max-width: 768px){
	#portfolio a:hover .fade-in,


}


#portfolio a:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#portfolio a:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#portfolio span.spantest:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#portfolio span.spantest:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#about a:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#about a:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#about span.spantest:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#about span.spantest:hover .fade-out {
	opacity: 0;
	transition: .45s;
}
*/

