* {
	box-sizing: border-box;
}
/**{
	border:red dashed 1px;
}
*/
body{
	background-color:white;
}

.left{
	text-align:left;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.italic{
	font-style:italic;
}

.bold{
	font-weight:700;
}

p{
	color:#434343;
	text-align:left;
	font-size:1.2em;
}

hr{
	display: block;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left:auto;
	margin-right: auto;
	border-width: 1px;
	width:85%;
	border-color:#292929;
}

.first-line{
	margin-top:50px;
	margin-bottom:40px;
}

.row{
	padding-top:0;
}

h4{
	color:#434343;
	font-size:1.5em;
	line-height:1.3;
}

h4,
p,
h5{
	font-family:'Open Sans Condensed', sans-serif;
}

h3{
	font-family:'Merriweather', serif;
	font-weight:900;
	color:#AA000E;
	margin-top:10px;
}


.dark-grey{
	color:#757373;
}

/*header*/

.hero{
	width:100%;
	height:620px;
	background-image:url("../img/carrots2.jpeg");
	background-size:cover;
	margin-top:0px;
}

h1{
	text-align:center;
	font-family: 'Fjalla One', sans-serif;
	line-height:550px;
	padding-top:40px;
	margin-top:0px;
}

div.nav.navbar-nav{
	position:absolute;
	right:0;
	top:0;
	width:100%;
}



.navbar{
	background:white;
	border:none;
	margin:0;
	font-size:15px;
}

.navbar-nav ul li a{
	padding:15px;
}

.navbar-default .navbar-nav>ul>li>a{
	color:#6F6D6D;
	font-family:'Merriweather', serif;
	margin-top:10px;
	font-size:11px;
}

.navbar-default .navbar-nav>ul>li>a:hover,
.navbar-default .navbar-nav>ul>li>a:focus{
	text-decoration: underline;

}

.float-right{
	float:right;
}

.list-inline{
	padding:10px 0;
}

.top-left{
	position:absolute;
	top:5px;
	left:10px;
}

.logo{
	height:40px;
	width:40px;
}

/*.nav li a{
	padding:0;
}*/

.intro{
	padding-top:0;
}


header{
	position:fixed;
	top:0;
	padding:10px;
	width:100%;
	z-index: 1;
	background:white;
/*	font-family:'Arimo', sans-serif;*/
/*	font-weight:700;*/
}

nav{
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
}	

header ul{
	margin:0;
	padding:0;
}

header li{
	display:inline-block;
	padding: 0 15px;
}

a{
	color:rgba(94, 2, 121, 0.93);
	font-family:'Merriweather', serif;
}

.mockup{
	width:100%;
	display:block;
	margin-top:15px;
}



/*body*/

h4 a{
	color:#434343;
	font-family:'Open Sans Condensed', sans-serif;
	text-decoration: underline;
}

.mockup-small{
	display:none;
	width:95%;
/*	width:75%;
	text-align:center;*/
}

.clover{
	padding-top:60px;
}

.padding{
	margin-top:30px;
}


.img-padding{
	margin:20px 0;
}


.wireframes-height{
	height:300px;
}

.wireframe-vertical-center{
	padding-top:35px;
}

.current-vertical-center{
	margin-top:40px;
}

/*footer*/

.footer{
	padding-top:0;
}

.cta{
	padding-top:10px;
	padding-bottom:10px;
}

.cta p{
	color:#6F6D6D;
}
/*
.cta{
	margin:20px 0;
}*/

.footer a{
	color:#6F6D6D;
	font-family:'Open Sans Condensed', sans-serif;
	text-decoration: underline;
}


/*media queries*/

@media (max-width: 1200px){
	.wireframe-vertical-center{
	padding-top:0px;
}
}

@media (max-width: 990px){
	.wireframe-vertical-center{
	padding-top:0;
}
	.current-vertical-center{
		margin-top:20px;
	}

	.row{
		padding-top:0;
	}
	
	.clover h4{
		padding-top:20px;
	}
}


@media (max-width: 475px){
	h1{
	font-size:6em;
}
}


@media (max-width: 991px){
	.mockup{
		display:none;
	}
	.mockup-small{
		display:block;
		margin-left:auto;
		margin-right:auto;
		padding:20px 0;
	}

}



